{% extends 'tasks/base.html' %}
{% block content %}
<h2>Список задач</h2>
<ul class="list-group">
    {% for task in page_obj %}
    <li class="list-group-item d-flex justify-content-between">
        <a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a>
        {% if task.completed %}
        <span class="badge bg-success">✔</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<nav>
  <ul class="pagination mt-3">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a></li>
    {% endif %}
    <li class="page-item disabled"><a class="page-link">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a></li>
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперёд</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
